@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@500&display=swap');
body{
  overflow: hidden;
  }

.card-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 3px solid gray;
    padding: 10px;
    margin: 20px auto;
    max-width: 800px;
    height: auto;
    min-height: 600px;
    border-radius: 20px;
    background-color: beige;
    align-content: start;
    right: 0;
    opacity: 1;
    transition: all 1s ease;
}

.ReloadBtn{
  background-color: #000;
  width: 10vh;
  height: 100vh;  
  position: absolute;
  justify-self: flex-start;
  align-items: center;
  border-radius: 3px;
  padding: 12px;
  font-size: 22px;
  margin-left: -10px;
  margin-top: -20px;
}

.ReloadBtn:hover{
  background-color: rgb(37, 136, 70);  
}


.card {
    position: static;
    left: 0;
    font-size: 16px;
    line-height: 10px;
    font-family: 'EB Garamond', serif;
    max-width: 300px;
    text-align: center;
    min-width: 100px;
    min-height: 150px;
    width: auto;
    height: auto;
    align-self: flex-start;
    background-color: #272343; /* Azul escuro */
    color: #ffffff; /* Texto branco */
    padding: 16px;
    border-radius: 8px;
    margin: 16px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: height 1s ease;
}
.card-enter {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeSlideIn 0.5s ease-in-out forwards;
}

.selected-card{
  position: static;
  left: 0;
  font-size: 16px;
  line-height: 10px;
  font-family: 'EB Garamond', serif;
  max-width: 300px;
  text-align: center;
  min-width: 100px;
  min-height: 150px;
  width: auto;
  height: auto;
  align-self: flex-start;
  background-color: #272343; /* Azul escuro */
  color: #ffffff; /* Texto branco */
  padding: 16px;
  border-radius: 8px;
  margin: 16px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: height 1s ease;
  border-style: solid;
  border-color: #211d39;
  border-width: 3px;
  
}



.invisible-card{
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.area {
  color: #BA55D3; /* Roxo claro */
  font-weight: bold;
  margin-right: 10px;
}

.cidade {
  color: #9370DB; /* Roxo médio */
  margin-left: 5px;
}

.mais {
  background-color: #1E1E2F; /* Roxo escuro */
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.bordered-word {
  border: 0.5px solid #9370DB; /* Roxo médio */
  padding: 2px 6px;
  margin-right: 6px;
  border-radius: 4px;
  margin-bottom: 3px;
  display: inline-block;
}

.telefone {
  background-color: #181829; /* Roxo ainda mais escuro */
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}


@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
} 
.title {
    color: grey;
    font-size: 18px;
  }
  
 button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
button:hover, a:hover {
    opacity: 0.7;
  }

.button-container button{
  max-width: 70px;
  transform: scale(0.7);

}

.Button-Certo{
  background-color: green;
  border-radius: 6px;
  height: 50px;
  width: 100px;
  font-size: 11px;
  font-family: 'Sometype Mono', monospace;
  transition: all 0.2s; /* Adicione uma transição para suavizar a escala */
}

.Button-Errado{
  background-color:rgb(156, 51, 247) ;
  border-radius: 6px;
  height: 50px;
  width: 100px;
  font-size: 13px;
  color: #19FA59;
  font-family: 'Sometype Mono', monospace;
  transition: all 0.2s; /* Adicione transições para suavizar as alterações */

}

.Button-Errado:hover{
  transform: scale(1.1);
  background-color: rgb(131, 3, 243);
  font-weight: bold;
}

.Button-Certo:hover{
  transform: scale(1.005);
  background-color: rgb(16, 190, 16);
  font-weight: bold;
  font-size: 12px;
  
}

.Button-Errado:hover + .Button-Certo {
  margin-left: 10px;
  opacity: 0.7; /* Move o Button-Certo para a direita */
}

.Button-Certo:hover + .Button-Errado {
  margin-right: 10px;
  opacity: 0.7; 
}