@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@500&display=swap');

:root{
  --darkGreen-color: #001325;
  --darkGray-color: #272343e3;
  --lightGreen-color:#026992;

}

body{
  overflow: x;
  background-color: #001F3F;
  }


.card-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 2px outset var(--lightGreen-color);
    border-right-color: var(--darkGray-color);
    padding: 10px;
    margin: 20px auto;  
    margin-right: 350px;
    max-width: 800px;
    height: auto;
    min-height: 613px;
    border-radius: 20px;
    background-color: #001F3F;
    align-content: start;
    right: 0;
    opacity: 1;
    transition: all 1s ease;
}
.ReloadBtn{
  background-color: var(--darkGreen-color);
  width: 10vh;
  min-height:110%;  
  position: fixed;
  justify-self: flex-start;
  align-items: center;
  border-radius: 3px;
  padding: 12px;
  font-size: 22px;
  margin-left: -10px;
  margin-top: -20px;
  writing-mode:vertical-lr;
  pointer-events: none;
}
.ReloadBtn:hover{
  background-color: rgb(36, 2, 99);  
}
.card {
    position: static;
    left: 0;
    font-size: 16px;
    line-height: 10px;
    font-family: 'EB Garamond', serif;
    max-width: 300px;
    text-align: center;
    min-width: 100px;
    min-height: 150px;
    width: auto;
    height: auto;
    align-self: flex-start;
    background-color: #272343; /* Azul escuro */
    color: #ffffff; /* Texto branco */
    padding: 16px;
    border-radius: 8px;
    margin: 16px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: height 1s ease;
}
.card-enter {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeSlideIn 0.5s ease-in-out forwards;
}
.selected-card{
  position: static;
  left: 0;
  font-size: 16px;
  line-height: 10px;
  font-family: 'EB Garamond', serif;
  max-width: 300px;
  text-align: center;
  min-width: 100px;
  min-height: 150px;
  width: auto;
  height: auto;
  align-self: flex-start;
  background-color: #272343; /* Azul escuro */
  color: #ffffff; /* Texto branco */
  padding: 16px;
  border-radius: 8px;
  margin: 16px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: height 1s ease;
  border-style: solid;
  border-color: #211d39;
  border-width: 3px;
  
}
.invisible-card{
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: transparent; /* Make it transparent */
  pointer-events: all;
}
.name {
  font-size: 24px;
  font-weight: bold;
}
.area {
  color: #BA55D3; /* Roxo claro */
  font-weight: bold;
  margin-right: 10px;
}
.cidade {
  color: #9370DB; /* Roxo médio */
  margin-left: 5px;
}
.mais {
  background-color: #1E1E2F; /* Roxo escuro */
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}
.bordered-word {
  border: 0.5px solid #9370DB; /* Roxo médio */
  padding: 2px 6px;
  margin-right: 6px;
  border-radius: 4px;
  margin-bottom: 3px;
  display: inline-block;
}
.telefone {
  background-color: #181829; /* Roxo ainda mais escuro */
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}
@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
} 
.title {
    color: grey;
    font-size: 18px;
  }
 button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
button:hover, a:hover {
    opacity: 0.7;
  }
.button-container button{
  max-width: 70px;
  transform: scale(0.7);

}
.Button-Certo{
  background-color: green;
  border-radius: 6px;
  height: 50px;
  width: 100px;
  font-size: 9px;
  font-family: 'Sometype Mono', monospace;
  transition: all 0.2s; /* Adicione uma transição para suavizar a escala */
}
.Button-Errado{
  background-color:rgb(156, 51, 247) ;
  border-radius: 6px;
  height: 50px;
  width: 100px;
  font-size: 13px;
  color: white;
  font-family: 'Sometype Mono', monospace;
  transition: all 0.2s; /* Adicione transições para suavizar as alterações */

}
.Button-Errado:hover{
  transform: scale(1.1);
  background-color: rgb(131, 3, 243);
  font-weight: bold;
}
.Button-Certo:hover{
  transform: scale(1.005);
  background-color: rgb(16, 190, 16);
  font-weight: bold;
  font-size: 9.5px;

}
.Button-Errado:hover + .Button-Certo {
  margin-left: 10px;
  opacity: 0.7; 
}
.Button-Certo:hover + .Button-Errado {
  margin-right: 10px;
  opacity: 0.7; 
}
.direita {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  right: 0;
  margin-left: -50px;
  top: 0%;
  width: 230px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column; /* Ensure child elements are stacked vertically */
  align-items: center; /* Center items horizontally */
  background-color: #001325;
}

#Titulo {
  height: 35px;
  text-align: center;
  text-justify: auto;
  font-weight: bold;
  font-size: big;
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  display: inline-block;
  width: 90%;
}

.MatchesNames {
  background-color: transparent;
  padding-top: 10px; 
  margin-right: 50%;
  width: auto;
}

.Nomes{
  width: fit-content;
  height: 10%;
  color: white;
  white-space: nowrap; 
  border-bottom: darkslateblue 2px solid;
  display: inline-block;
  margin-left: 45px;
  width: 100%;
  background-color: #00000028;
  padding: 5px;
  border-radius: 8px;
  vertical-align: top;
}

.LastChecked {
  color: #888; /* Adjust the color as needed */
  margin-top: 3x; /* Adjust the margin as needed */
  font-size: 10px;
  white-space: nowrap; 
  margin-left: 50px;
  bottom: 10%;
  position: relative
}

::-webkit-scrollbar{
  background-color: var(--darkGreen-color);
}
::-webkit-scrollbar-thumb{
  background-color: var(--lightGreen-color);
  border-radius: 8px;
}